/* Form Styles */
.form-container {
    width: var(--form-width);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-label {
    font-size: 1rem;
    font-weight: 400;
    color: var(--light);
}

.form-input,
.form-textarea {
    padding: 0.5rem var(--padding);
    border-radius: 0.25rem;
    border: 2px solid var(--accent-transparent);
    background: var(--dark);
    color: var(--light);
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.form-input:focus,
.form-textarea:focus {
    outline: none;
    border-color: var(--accent);
    box-shadow: var(--neon-box-shadow);
}

.form-button {
    align-self: flex-start;
    cursor: pointer;
    background-color: var(--accent);
    color: var(--dark);
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    border: none;
    transition: background-color 0.3s ease;
    box-shadow: var(--neon-box-shadow);
}

.form-button:hover {
    background-color: var(--light);
}

.form-textarea {
    resize: vertical;
}
