* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #262626;
}

h1 {
    font-size: 8rem;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.nav-item {
    list-style: none;
}

.nav-link, .nav-branding {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: dodgerblue;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.above-the-fold {
    height: calc(100vh - 70px);
    background-image: url(../images/blockchain-background-dots.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-atf {
    opacity: 1;
}

.under-the-fold {
    background-color: #1a191d;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    margin-top: 150px;
}

#expertise-container {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url(../images/hello-world-html-code-768x384.png);
    background-color: #1a191d;
    background-blend-mode:luminosity;
}

.expertise-item {
    border: 1px solid white;
    padding: 50px 25px;
    flex-grow: 1;
    max-width: 400px;
}

.expertise-title {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    border: 1px solid red;
}

.expertise-img {
    height: 80px;
    width: 80px;
    margin-right: 25px;
}












@media(max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}