:root {
    --dark: #171721;
    --light: #F4F4F9;
    --accent: #872B97;
    --accent2: #FF3C68;
    --secondary: #FF7130;
    --dark-transparent: rgba(23, 23, 33, 0.5);
    --accent-transparent: rgba(135, 43, 151, 0.5);
    --accent2-transparent: rgba(255, 60, 104, 0.5);
    --gap: 1rem;
    --padding: 1rem;
    --margin: 1rem;
    --container-width: 90%;
    --neon-box-shadow: 0 0 10px #872B97,
    0 0 3px #872B97,
    0 0 3px #872B97,
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 1px #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-size: 16px;
    color: var(--light);
    font-family: 'Karla', sans-serif;
}

header {
    background-color: var(--dark);
    width: var(--container-width);
}

body {
    line-height: 1.6;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-size: 8rem;
    text-transform: uppercase;
    font-weight: 300;
}

h2 {
    font-size: 5rem;
    font-weight: 400;
}

h3 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
}

h4 {
    font-size: 0.8rem;
    padding: 0 0 calc(var(--padding)/2) 0;
}

.mobile {
    display: none;
}

.nav-item {
    list-style: none;
}

.nav-link, .nav-branding {
    color: var(--light);
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: var(--accent);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--light);

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.above-the-fold {
    height: calc(100vh - 70px);
    width: var(--container-width);
    /* background-image: url(../images/blockchain-background-dots.jpg); */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 0 calc(var(--padding)*4);*/
    padding: 0;
}

.above-the-fold-element {
    text-align: left;
}

.content-atf {
    opacity: 1;
}

.profile-picture_container{
    width: 30%;
    display: block;
}

.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--dark);
    background-color: var(--accent);
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
    border: none;
    box-shadow: var(--neon-box-shadow);
}

.social-media a {
    text-decoration: none;
}

.social-media i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.0rem;
    height: 2.0rem;
    background: transparent;
    border: .1rem solid var(--accent);
    border-radius: 0.25rem;
    font-size: 1.5rem;
    color: var(--accent);
    box-shadow: var(--neon-box-shadow);
    margin: 3rem 1.5rem 3rem 0;
}

.button:hover,
.button:focus {
    background-color: var(--light);
}


#profile-picture {
    max-width: 100%;
    height: auto;
}

.under-the-fold {
    min-height: 120vh;
    width: 90%;
    padding-top: calc(var(--padding)*5);
    padding-bottom: calc(var(--padding)*20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url(../images/hello-world-html-code_50-opacity.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}

.under-the-fold-2 {
    min-height: 100vh;
    width: 100%;
    padding-top: calc(var(--padding)*5);
    padding-bottom: calc(var(--padding)*5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.heading {
    margin-top: 0px;
}

#expertise-container {
    width: 90%;
    padding: calc(var(--padding)*3) var(--padding);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.expertise-item {
    border: 1px solid var(--accent);
    box-shadow: var(--neon-box-shadow);
    padding: calc(var(--padding)*3) var(--padding);
    flex-grow: 1;
    min-height: 350px;
    max-width: 400px;
}

.expertise-title {
    display: flex;
    align-items: center;
    margin-bottom: calc(var(--margin)*3);
}

.expertise-img {
    height: 80px;
    width: 80px;
    margin-right: 25px;
}

.portfolio-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    padding: calc(var(--padding)*3) var(--padding);
}

.card {
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    overflow: hidden;

    min-width: 300px;
    transition: transform 500ms ease;
}

.card:hover,
.card:focus-within {
    transform: scale(1.05);
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)
    );
}

.card-title {
    position: relative;
    width: max-content;
}

.card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding)*-1);
    bottom: -2px;
    width: calc(100% + var(--padding));
    background: var(--accent);
    transform-origin: left;
    transition: transform 500ms ease;
}   

.card:hover .card-title::after,
.card:focus-within .card-title::after {
    transform: scaleX(1);
}

#card-1 {
    background-image: linear-gradient(180deg, var(--dark-transparent), 
    var(--accent2-transparent)), url(../images/card-background_polygons-neon-1.jpg);
}

#card-2 {
    background-image: linear-gradient(180deg, var(--dark-transparent), 
    var(--accent2-transparent)), url(../images/card-background_polygons-neon-2.jpg);
}

#card-3 {
    background-image: linear-gradient(180deg, var(--dark-transparent), 
    var(--accent2-transparent)), url(../images/card-background_polygons-neon-3.jpg);
}

@media (hover) {
    .card-content {
        transform: translateY(65%);
        transition: transform 500ms ease;
    }

    .card:hover .card-content,
    .card:focus-within .card-content {
        transform: translateY(0);
        transition-delay: 500ms;
    }
    
    .card:focus-within .card-content {
        transition-duration: 0ms;
    }
    
    .card-content > *:not(.card-title) {
        opacity: 0;
        transition: opacity 500ms linear;
    }
    
    .card:hover .card-content > *,
    .card:focus-within .card-content > * {
        opacity: 1;
        transition-delay: 1000ms;
    }
    
    .card:focus-within .card-content > * {
        transition-delay: 200ms;
    }

    .card-title::after {
        transform: scaleX(0);
    }
}

.img-slider {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .img-slider .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 0 0, 0 51%, 0 100%, 0% 100%);
  }

  .img-slider .slide.active {
    /* clip-path: polygon(0% 0%, 75% 0%, 150% 50%, 75% 100%, 0% 100%); */
    /*clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%); */
    clip-path: polygon(0% 0%, 100% 0%, 150% 50%, 100% 100%, 0% 100%);
    transition: 2s;
    transition-property: clip-path;
  }

  .img-slider .slide img {
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
  }

  .img-slider .slide .info {
    position: absolute;
    top: 0;
    padding: 15px 30px;
  }

  .img-slider .slide .info p {
    color: var(--light);
    background: rgba(23, 23, 33, 0.5);
    font-size: 16px;
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--accent);
    box-shadow: var(--neon-box-shadow);
  }

  .img-slider .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }

  .img-slider .navigation .btn {
    background: var(--dark);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }

  .img-slider .navigation .btn.active {
    background: var(--accent);
    box-shadow:  0 0 2px rgba(0, 0, 0, 0.5);
  }


footer {
    display: flex;
    padding: calc(var(--padding)*3) var(--padding);
    align-items: center;
    justify-content: center;
}

.footer_div {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.footer_paragraph {
    font-size: 2rem;
}

.small-paragraph {
    font-size: 1rem;
    text-align: left;
    margin: 0;
}

.unordered-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer_contacts-container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap)*2);
}

#footer_img-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 1px solid red;
}

#footer_button_arrow {
    background: var(--light);
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.3rem;
    border: 1px solid red;
    transition: transform 200ms ease-out;
}

#footer_button_arrow:hover {
    transform: scale(0.8);
    transition: 200ms ease-in;
}

#footer_arrow {
    width: 70%;
    height: auto;
    align-self: center;
    transform: translateY(75%);
  }

@media(max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--dark);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    h1 {
        font-size: 3rem;
        width: 100%;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 0.8rem;
    }

    .above-the-fold {
        height: auto;
    }

    .content-atf {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content-atf h3, .content-atf h1, .content-atf p {
        text-align: center;
    }

    .mobile {
        display: flex;
    }
    .desktop {
        display: none;
    }

    .profile-picture_container {
        width: 70%;
        height: auto;
    }

    .social-media {
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    .under-the-fold {
        padding-bottom: calc(var(--padding)*5);
        background-size: 90%;
    }

    #expertise-container {
        gap: var(--gap);
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .expertise-item {
        width: 100%;
    }

    .portfolio-container {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 80%;
    }

    .img-slider .slide .info p {
        font-size: 14px;
        width: 100%;
        padding: 10px;
        border-radius: 4px;
      }

    footer {
        flex-direction: column;
        padding: var(--padding) calc(var(--padding)*1.5);
        padding-bottom: calc(var(--padding)*3);
    }

    .footer_div {
        width: 100%;
    }

    .small-paragraph {
        font-size: 0.9rem;
    }

    #footer_img-container {
        padding-top: calc(var(--padding)*3);
        justify-content: flex-start;
    }

}